## TÃ‰CNICAS DE NLP

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import re
from unidecode import unidecode

In [10]:
list_sample = [['o felipe calixto tirou 10 no tcc'],
              ['o felipe fez otima apresentacao tcc']]

In [18]:
from transformers import BertTokenizer
tokenizer = BertTokenizer.from_pretrained('neuralmind/bert-base-portuguese-cased', cls_token='[CLS]', 
                                          mask_token='[MASK]', 
                                          do_basic_tokenize=False,
                                          do_lower_case=False, 
                                          unk_token='[UNK]', strip_accents=True, clean_text=True)

In [27]:
print('frase1 - bert: ', tokenizer.tokenize(list_sample[0][0]))
print('frase1 numbers - bert: ', tokenizer.encode(list_sample[0][0], add_special_tokens = True))
print('=======================')                                   
print('frase2 - bert: ', tokenizer.tokenize(list_sample[0][0]))
print('frase3 numbers - bert: ', tokenizer.encode(list_sample[1][0], add_special_tokens = True))

frase1 - bert:  ['o', 'fel', '##ipe', 'cal', '##ix', '##to', 'tirou', '10', 'no', 't', '##cc']
frase1 numbers - bert:  [101, 146, 10840, 1066, 1945, 433, 183, 15399, 1193, 202, 160, 14391, 102]
=======================
frase2 - bert:  ['o', 'fel', '##ipe', 'cal', '##ix', '##to', 'tirou', '10', 'no', 't', '##cc']
frase3 numbers - bert:  [101, 146, 10840, 1066, 1191, 12512, 22278, 2064, 304, 22280, 160, 14391, 102]

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
list_test = ['o felipe calixto tirou 10 no tcc','o felipe fez otima apresentacao tcc']
v_test = CountVectorizer()
sample = v_test.fit_transform(list_test)
df2 = pd.DataFrame(sample.toarray().transpose(),
                   index=v_test.get_feature_names())
df2

              0  1
10            1  0
apresentacao  0  1
calixto       1  0
felipe        1  1
fez           0  1
no            1  0
otima         0  1
tcc           1  1
tirou         1  0

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
list_test = ['o felipe calixto tirou 10 no tcc','o felipe fez otima apresentacao tcc']
v_test = TfidfVectorizer()
sample = v_test.fit_transform(list_test)
df2 = pd.DataFrame(sample.toarray().transpose(),
                   index=v_test.get_feature_names())
df2

                     0         1
10            0.446656  0.000000
apresentacao  0.000000  0.499221
calixto       0.446656  0.000000
felipe        0.317800  0.355200
fez           0.000000  0.499221
no            0.446656  0.000000
otima         0.000000  0.499221
tcc           0.317800  0.355200
tirou         0.446656  0.000000